altgraph==0.17
et-xmlfile==1.0.1
jdcal==1.4.1
macholib==1.14
numpy==1.19.0
openpyxl==3.0.4
pandas==1.0.5
PyInstaller==3.6
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
xlrd==1.2.0
pdfplumber==0.5.21